
.App-logo {
  height: 8vmin;
  pointer-events: none;
    align-self: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    border: white solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //font-size: calc(10px + 2vmin);
    font-size: 20px;
    color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
