.search-bar-input {
    height: 45px;
    margin-left: 33%;
    margin-top: 50px;
    position: fixed;
    z-index:10;
    border: 1px solid grey;
    border-radius: 300px;
    width: 33%;
    padding-left: 30px;
    font-size: 1.1em;
}

.center {
}

.search {
  position: absolute;
  margin-top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  z-index: 10;
    border-radius: 300px;
}

.search input {
    padding: 0.5rem;
    padding-left: 30px;
    font-size: 1.5rem;
    width: 100%;
    border-radius: 300px;
    border: 1px solid grey;
}

.locate {
    position: absolute;
    width: 40px;
    height: 40px;
    max-width: 400px;
    z-index: 10;
    bottom: 200px;
    right: 10px;
    border: none;
    box-shadow: 1px 1px 1px rgb(161, 159, 159);
    background-color: white;
    border-radius: 1px;
}
.locate :hover {
    color: green;
    cursor: pointer;
}